name: Trivy Container Scan to Artifact

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  trivy-scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Trivy Container Scan and Save to TXT
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'image'
          scan-ref: '.'
          format: 'table'
          output: 'trivy-report.txt'
          severity: 'CRITICAL,HIGH,MEDIUM,LOW'
          exit-code: '0'

      - name: Upload Scan Report
        uses: actions/upload-artifact@v4
        with:
          name: trivy-security-report-container
          path: trivy-report.txt
